<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="quadvision.serviceprovider">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="strugsdevs.gcm.client.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="strugsdevs.gcm.client.permission.C2D_MESSAGE" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />
        <activity
            android:name="activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activities.RegisterActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="activities.SpecialityActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name="activities.HomeTabClass"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!--<category android:name="quadvision.serviceprovider" />-->
                <category android:name="com.example.com.serviceapp" />
                <!-- havent chnaged the package name for gcm connectivity issues-->
            </intent-filter>
        </receiver>
        <service
            android:name="services.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="services.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>
        <service
            android:name="services.RegistrationIntentService"
            android:exported="false">
        </service>

    </application>

</manifest>
